@charset "UTF-8";
* {
    box-sizing: border-box;
}
html {
    position: relative;
    font-size: 62.5% !important;
}
img {
    max-width: 100%;
}
body {
    color: #444;
    font-family: 'Roboto', sans-serif, 微軟正黑體;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;


    min-height: calc(100vh - 184px);
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
    line-height: 1.5;
}
h1 {
    font-weight: 500;
}
h2 {
    margin-bottom: 35px;
}
a,
a:hover,
a:focus,
a:active {
    color: #ff5470;
    text-decoration: underline;
}

/* banner */
.banner-container {
    width: 100%;
    height: 643px;
    background-image: url("../images/banner@2x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}
.banner-title-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.banner-logo {
    max-width: 160px;
    min-height: 30px;
    background-image: url("../images/dentall-logo@2x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    margin-bottom: 20px;
}

.banner-title-1 {
    text-align: center;
    margin-top: 100px;
}
.banner-title-1 > span {
    font-size: 59px;
    font-weight: 500;
    line-height: 1.64;
    letter-spacing: 3px;
    text-align: center;
    color: #00a2e2;
}
.banner-title-2 {
    text-align: center;
    margin-top: 20px;
}
.banner-title-2 > span {
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #555555;
}
.banner-title-2 > span:nth-child(1) {
    font-size: 22px;
}
.banner-title-2 > span:nth-child(2) {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.3px;
}
.banner-title-3 {
    max-width: 591px;
    min-height: 116px;
    margin: 40px auto 0;
    background-image: url("../images/banner-ring@2x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

/* banner-footer */
.banner-footer {
    width: 100%;
    height: 70px;
    background-color: #00a2e2;
}
.banner-footer > a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}
.banner-footer > a > div {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.banner-footer > a > div > span {
    line-height: 70px;
    color: #fefefe;
    white-space: nowrap;
    width: 50%;
    flex: 1;
}
.banner-footer > a > div > span:nth-child(1) {
    font-size: 26px;
    letter-spacing: 1.3px;
    font-weight: normal;
}
.banner-footer > a > div > span:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
    line-height: 0.11;
    text-align: left;
    padding-left: 10px;
    text-decoration: line-through;
}
.banner-footer > a > div > span:nth-child(3) {
    float: right;
    text-align: right;
}
.banner-footer > a > div > span:nth-child(3) > span:nth-child(1) {
    font-size: 26px;
}
.banner-footer > a > div > span:nth-child(3) > span:nth-child(2) {
    font-size: 24px;
}
.banner-footer > a > div > span:nth-child(3) > span:nth-child(2):hover {
    font-size: 32px;
}
.banner-footer > a > div > span:nth-child(3) > span:nth-child(3) {
    font-size: 32px;
    vertical-align: baseline;
}
.banner-footer-fixed {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

/* content */
.content-container {
    width: 100%;
    height: auto;
}
.content-container .content-wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}
.content-container .content-wrap-reverse {
    flex-direction: row;
}
.content-container .for-gary-bgc {
    background-color: #f7f9fa;
}
.content-container .content-wrap .content-image-1 {
    background-image: url("../images/image-01@2x.png");
}
.content-container .content-wrap .content-image-2 {
    background-image: url("../images/image-02@2x.png");
}
.content-container .content-wrap .content-image-4 {
    background-image: url("../images/image-04@2x.png");
}
.content-container .content-wrap .content-image-5 {
    background-image: url("../images/image-05@2x.png");
}
.content-container .content-wrap .content-image-6 {
    background-image: url("../images/image-06@2x.png");
}
.content-container .content-wrap > div:nth-child(1) {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 5%;
    margin-left: 20px;
}
.content-container .content-wrap > div:nth-child(2) {
    max-width: 30%;
    margin-left: 15%;
}
.content-container .content-wrap-reverse > div:nth-child(1) {
    margin-left: 15%;
}
.content-container .content-wrap-reverse > div:nth-child(2) {
    margin-right: 5%;
    margin-left: 20px;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc-pic-wrap {
    display: flex;
    margin-top: 40px;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc-pic-wrap .content-1-desc-pic {
    width: auto;
    height: 83px;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc-pic-wrap .content-1-desc-pic > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc-title > div:nth-child(1) {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.26;
    letter-spacing: 2.2px;
    text-align: left;
    color: #555555;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc-title > div:nth-child(2) {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #00a2e2;
    margin-top: 10px;
}
.content-container .content-wrap > div:nth-child(2) .content-1-desc {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 0.8px;
    text-align: left;
    color: #555555;
    margin-top: 45px;
    margin-bottom: 90px;
}

/* pre-order */
.pre-order-plan-container {
    width: 100%;
    height: auto;
    background-color: #f7f9fa;
    padding-bottom: 104px;
}
.pre-order-plan-container .pre-order-plan-wrap {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pre-order-plan-container .pre-order-plan-wrap .title {
    font-size: 44px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2.2px;
    color: #555555;
}
.pre-order-plan-container .pre-order-plan-wrap .subtitle {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #00a2e2;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table {
    text-align: center;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table table {
    width: 80%;
    margin: 40px auto 0;
    border-collapse: collapse;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 1.7px;
    color: #555555;
    background: #dbdbdb;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-title > td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan {
    background-color: #fff;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td {
    vertical-align: text-top;
    padding: 0 15px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc {
    text-align: center;
    color: #555555;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 {
    margin-top: 20px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div {
    display: inline-block;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div > span {
    font-size: 26px;
    line-height: 1.54;
    letter-spacing: 1.3px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc > .for-big {
    font-size: 34px;
    line-height: 1.54;
    letter-spacing: 1.7px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-2 {
    padding-bottom: 30px;
}
.pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td > .for-hr {
    width: 80%;
    color: #dbdbdb;
    height: 1px;
    background-color: #dbdbdb;
    margin: 20px auto;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now {
    background-color: #00a2e2;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 3.4px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span {
    font-size: 30.5px;
    font-weight: normal;
    letter-spacing: 3.1px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span:nth-child(2) {
    font-size: 24px;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span:nth-child(2):hover {
    font-size: 32px;
}
.pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span:nth-child(3) {
    font-size: 32px;
    vertical-align: text-top;
}
.pre-order-plan-container .pre-order-notice {
    width: 70%;
    margin: 40px auto 0;
    text-align: left;
}
.pre-order-plan-container .pre-order-notice p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: 1.4px;
    text-align: left;
    color: #555555;
}

/* ========================
Media Queries
======================== */

@media (min-width: 768px) and (max-width: 1280px) {
    .banner-title-1 > span {
        font-size: calc(4rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .footer-price-container>span:nth-child(1) {
        font-size: calc(2rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .footer-price-container>span:nth-child(2) {
        font-size: calc(4rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .go-to-buy-title {
        font-size: calc(2.2rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .go-to-buy-title > span > span {
        font-size: calc(4.2rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .content-container-1 .content-wrap .content-1-desc-wrap .content-1-desc-title > div:nth-child(1) {
        font-size: calc(3.5rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
    .content-container-1 .content-wrap .content-1-desc-wrap .content-1-desc-title > div:nth-child(2) {
        font-size: calc(1.6rem + (1.3 - 1.2) * ((100vw - 768px) / (1280 - 768)));
    }
}
@media (max-width: 768px) {
    /* banner */
    .banner-container {
        background-image: url("../images/phone/banner@2x.png");
        height: 251px;
    }
    .banner-title-container {
        width: 90%;
        margin-top: 0;
        padding-top: 30px;
    }
    .banner-logo {
        background-image: url("../images/phone/dentall-logo@2x.png");
    }
    .banner-title-1 {
        margin-top: 0;
    }
    .banner-title-1 > span {
        font-size: 32px;
    }
    .banner-title-2 > span:nth-child(1) {
        font-size: 16px;
    }
    .banner-title-2 > span:nth-child(2) {
        font-size: 20px;
    }
    .banner-title-3 {
        display: none;
    }

    .banner-footer > a > div {
        width: 90%;
        justify-content: center;
    }
    .banner-footer > a > div > span:nth-child(1) {
        font-size: 14px;
        letter-spacing: 1.3px;
        font-weight: normal;
    }
    .banner-footer > a > div > span:nth-child(2) {
        font-size: 16px;
        font-weight: bold;
        line-height: 0.11;
        text-align: left;
        padding-left: 10px;
    }
    .banner-footer > a > div > span:nth-child(3) {
        float: right;
        text-align: right;
    }
    .banner-footer > a > div > span:nth-child(3) > span:nth-child(1) {
        font-size: 16px;
    }
    .banner-footer > a > div > span:nth-child(3) > span:nth-child(2) {
        font-size: 18px;
    }
    .banner-footer > a > div > span:nth-child(3) > span:nth-child(3) {
        font-size: 20px;
        vertical-align: baseline;
    }

    /* content */
    .content-container .content-wrap {
        display: block;
    }
    .content-container .content-wrap .content-desc-1,
    .content-container .content-wrap .content-desc-2,
    .content-container .content-wrap .content-desc-3,
    .content-container .content-wrap .content-desc-4,
    .content-container .content-wrap .content-desc-5,
    .content-container .content-wrap .content-desc-6 {
        overflow-x: hidden;
    }
    .content-container .content-wrap .content-image-1 {
        background-image: url("../images/phone/image-01@2x.png");
    }
    .content-container .content-wrap .content-image-2 {
        background-image: url("../images/phone/image-02@2x.png");
    }
    .content-container .content-wrap .content-image-4 {
        background-image: url("../images/phone/image-04@2x.png");
    }
    .content-container .content-wrap .content-image-5 {
        background-image: url("../images/phone/image-05@2x.png");
    }
    .content-container .content-wrap .content-image-6 {
        background-image: url("../images/phone/image-06@2x.png");
    }
    .content-container .content-wrap > div:nth-child(1) {
        margin: 0 auto;
        padding-top: 66%;
    }
    .content-container .content-wrap .vertical-margin-5 {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .content-container .content-wrap > div:nth-child(2) {
        max-width: 100%;
        margin: 0 auto;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc-pic-wrap {
        display: none;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc-title {
        width: 80%;
        margin: 0 auto;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc {
        width: 80%;
        margin: 0 auto;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc-title > div:nth-child(1) {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.21;
        letter-spacing: 1.5px;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc-title > div:nth-child(2) {
        font-size: 17px;
        font-weight: normal;
        line-height: 1.14;
        letter-spacing: 0.9px;
    }
    .content-container .content-wrap > div:nth-child(2) .content-1-desc {
        font-size: 15px;
        font-weight: normal;
        line-height: 1.4;
        letter-spacing: 0.8px;
        text-align: left;
        margin-top: 40px;
    }

    /*pre-order*/
    .pre-order-plan-container .pre-order-plan-wrap {
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }
    .pre-order-plan-container .pre-order-plan-wrap .title {
        font-size: 38.5px;
        letter-spacing: 1.9px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .subtitle {
        font-size: 26px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-title {
        font-size: 25px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table table {
        width: 100%;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div {
        display: block;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div > span {
        font-size: 18px;
        line-height: 1.28;
        letter-spacing: 0.9px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div:nth-child(1) > span:nth-child(2) {
        display: none;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-1 > div > span.for-big {
        font-size: 26px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-2 > span {
        font-size: 20px;
    }
    .pre-order-plan-container .pre-order-plan-wrap .pre-order-plan-table .table-plan > td .table-plan-desc-2 > span.for-big {
        font-size: 26px;
    }
    .pre-order-plan-container .pre-order-plan-table .pre-order-now > td {
        padding: 0;
    }
    .pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 2.6px;
    }
    .pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span:nth-child(2) {
        font-size: 22px;
    }
    .pre-order-plan-container .pre-order-plan-table .pre-order-now > td > a > span:nth-child(3) {
        vertical-align: text-top;
    }
    .pre-order-plan-container .pre-order-notice {
        width: 100%;
    }
    .pre-order-plan-container .pre-order-notice p {
        font-size: 14px;
    }
}
